
header {
    display: block;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    background-color: #000000;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
}

.wrapper {
    width: 960px;
    border: 2px solid #000000;
    background-color: #ffffff;
}

h1 {
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;
    color: #000000
}

    .box {
        background-color: whitesmoke;
        color:black;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        border: solid #000000;
        padding: 10px;
        margin: 30px;

    }

    button {
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    #questions {
        text-align: center;
        padding: 10px;
        margin: 30px;
    }

    #display {
        text-align: center;
        padding: 10px;
        margin: 30px;
        border: solid #000000;
    }

    #answer {
        text-align: center;
        padding: 10px;
        margin: 30px;
        border: solid #000000;
    }
    